<div ng-controller="mpsCtrl">
    <!-- <div
        fusioncharts
        width="100%"
        height="600"
        type="gantt"
        dataSource="{{myDataSource}}">
    </div> -->
    <!-- <br><br> -->
    <h2 class="alert" style="background-color:black;color:#ffffff;">New Order Schedule</h2>

    <div class="row">
        <!-- <div class="col-sm-12">
            <div fusioncharts width="100%" height="500" type="bar2d" dataSource="{{barChartNewOrder}}">
            </div>
        </div> -->
        <!-- {{jssData}} -->
    </div>
</div>