<div>

    <h2 class="alert" style="background-color:black;color:#ffffff;">Shopfloor Management</h2>
     <!-- System</h2> -->

    <br><br><br>

    <div ng-hide="true" class="row">
        <div class="col-sm-4 " style="border-color:black;border-radius:13px;" >

            <div class="box-part text-center" >

                 <!-- style="color:#4FB2F6;" -->
                <img src="./assets/img/icons/wait.png" data-wow-iteration="1000000"
                    data-wow-duration="5s"
                    height="100px"  
                    width="100px"
                    class="wow animated heartBeat">
                </img>
               <br><br>

                <div class="title">
                    <h4><strong>Waiting Orders</strong></h4>
                    <h4>{{wait}}</h4>
                </div>
                <a href="#"></a>

            </div>
        </div>
        <div class="col-sm-4 " style="border-color:black;border-radius:13px;" >

            <div class="box-part text-center">
                <img src="./assets/img/icons/wip.png" data-wow-iteration="1000000"
                    data-wow-duration="5s"
                    height="100px"  
                    width="100px"
                    class="wow animated heartBeat">
                </img>
                <br><br>

                <div class="title">
                    <h4><strong>Work In Progress</strong></h4>
                    <h4>{{wip}}</h4>
                </div>
                <a href="#"></a>

            </div>
        </div>
        <div class="col-sm-4 " style="border-color:black;border-radius:13px;" >

            <div class="box-part text-center">
                    <img src="./assets/img/icons/done.png" data-wow-iteration="1000000"
                        data-wow-duration="5s"
                        height="100px"  
                        width="100px"
                        class="wow animated heartBeat">
                    </img>
                <br><br>
                <div class="title">
                    <h4><strong>Completed Orders</strong></h4>
                    <h4>{{done}}</h4>
                </div>

                <a href="#"></a>

            </div>
        </div>
    </div>

    <div class="row">
        
        <div class="col-sm-3 col-sm-offset-2" style="border-color:black;border-radius:13px;" >
                
            <div class="box-part text-center">
                <img src="./assets/img/icons/machine.png" data-wow-iteration="1000000"
                    data-wow-duration="5s"
                    height="100px"  
                    width="100px"
                    class="wow animated heartBeat">
                </img>
                <br><br>

                <div class="title">
                    <h4><strong>Machines</strong></h4>
                    <!-- <h4>{{machines}}</h4> -->
                    <h4>-</h4>
                </div>
                <button ng-click="viewMachines()" style="background-color:#000000;color:#ffffff;width:100%" class="alert">
                    <strong>View Machines</strong>
                </button>

            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-2" style="border-color:black;border-radius:13px;" >
                
            <div class="box-part text-center">
                <img src="./assets/img/icons/settings.png" data-wow-iteration="1000000"
                    data-wow-duration="5s"
                    height="100px"  
                    width="100px"
                    class="wow animated heartBeat">
                </img>
                <br><br>

                <div class="title">
                    <h4><strong>Jobs Settings</strong></h4>
                    <!-- <h4>Add or Update Any Job</h4> -->
                    <h4>-</h4>
                    <!-- <br><br> -->
                </div>
                <button ng-click="viewJobs()" style="background-color:#000000;color:#ffffff;width:100%" class="alert">
                    <strong>View Jobs</strong>
                </button>

            </div>
        </div>

    </div>

</div>