<h2 class="alert" style="background-color:black;color:#ffffff;">

    Jobs Management</h2>

<div class="row" style="margin:10px;" ng-controller="jobsCtrl">


    <a href="" style="" ng-click="edit()"><i class="fas fa-edit"></i>Edit Any Job</a>
    <a href="" style="" ng-click="addNew()"><i class="fas fa-plus"></i>Add New Job</a>
    <br>
    <table class="table">
        <thead class="" style="background-color:black;color:#ffffff;">
            <tr class="">
                <th scope="col">Job Id</th>
                <th scope="col">Job Type</th>
                <th scope="col">Alloted Worker</th>
                <th scope="col">Duration</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <!-- <th scope="col">Installation Date</th> -->
                <th scope="col">Status</th>
                <!-- <th scope="col">Edit</th> -->
                <th scope="col">Delete</th>
                <th scope="col">Update</th>

                <!-- <th scope="col">In Production Quantity</th> -->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in jobs track by $index">
                <th scope="row"><input class="form-control input" type="number" ng-model="p.jobId" ng-value="p.jobId" ng-disabled="disabled"></th>
                <td><input class="form-control input" type="text" ng-model="p.jobType" ng-value="p.jobType" ng-disabled="disabled"></td>
                <td><input class="form-control input" type="text" ng-model="p.allotedWorker" ng-value="p.allotedWorker" ng-disabled="disabled"></td>
                <td><input class="form-control input" type="number" ng-model="p.jobDuration" ng-value="p.jobDuration" ng-disabled="disabled"></td>
                <td><input class="form-control input" type="text" ng-model="p.startTime" ng-value="p.startTime" ng-disabled="disabled"></td>
                <td><input class="form-control input" type="text" ng-model="p.endTime" ng-value="p.endTime" ng-disabled="disabled"></td>
                <td><button type="button" class="btn btn-primary" type="text" ng-click="updateJobStatus(p.jobId)" ng-disabled="disabled">{{status[p.jobStatus]}}</button></td>
                <!-- <td><a href="" ng-click="edit()"><i class="fas fa-edit"></i></a></td> -->
                <td><a href="" ng-click="remove(p)" ng-disabled="disabled"><i class="fas fa-trash fa-2x"></i></a></td>
                <td><a href="" ng-click="update(p,$index)" ng-disabled="disabled"><i class="fas fa-check fa-2x"></i></a></td>
            </tr>
        </tbody>
    </table>



</div>