
<h2 class="alert" style="background-color:black;color:#ffffff;">Machines Management</h2>
<div class="row" style="margin:10px;">
    
    <!-- <h2>Inventory Panel</h2> -->
    <a href="" style="" ng-click="edit()"><i class="fas fa-edit"></i>Edit Any Machine</a>
    <a href="" style="" ng-click="addNew()"><i class="fas fa-plus"></i>Add New Machine</a>
    <br>
    <table class="table" >
        <thead class="" style="background-color:black;color:#ffffff;">
            <tr class="">
                <th scope="col">Machine Id</th>
                <th scope="col">Machine Type</th>
                <th scope="col">Capacity/Hour</th>
                <!-- <th scope="col">Installation Date</th> -->
                <th scope="col">Status</th>
                <!-- <th scope="col">Edit</th> -->
                <th scope="col">Delete</th>
                <th scope="col">Update</th>

            <!-- <th scope="col">In Production Quantity</th> -->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in machines track by $index">
                <th scope="row"><input class="form-control input" type="number" ng-model="p.machineId" ng-value="p.machineId" ng-disabled="disabled"></th>
                <td><input class="form-control input" type="text" ng-model="p.machineType" ng-value="p.machineType" ng-disabled="disabled"></td>
                <td><input class="form-control input" type="number" ng-model="p.machineCapacity" ng-value="p.machineCapacity" ng-disabled="disabled"></td>
                <!-- <td><input class="form-control input" type="text" ng-model="machineInstallationDate" ng-value="p.machineInstallationDate" ng-disabled="disabled"></td> -->
                <!-- <td><input class="form-control input" type="text" ng-model="machineStatus" ng-value="p.machineStatus" ng-disabled="disabled"></td> -->
                <td><button type="button" class="btn btn-primary" type="text" ng-click="updateMachineStatus(p,$index)" ng-disabled="disabled">{{status[p.machineStatus]}}</button></td>
                <!-- <td><a href="" ng-click="edit()"><i class="fas fa-edit"></i></a></td> -->
                <td><a href="" ng-click="remove($index,p)" ng-disabled="disabled"><i class="fas fa-trash fa-2x"></i></a></td>
                <td><a href="" ng-click="update($index,p)" ng-disabled="disabled"><i class="fas fa-check fa-2x"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>