html,
body {
    min-height: 100vh;
    height: auto;
    margin: 0;
}


/* You can add global styles to this file, and also import other style files */
.sidebar1 {
    background: #000000;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000000, #000000, #000b14);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000000, #000000, #000b14);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000000, #000000, #000b14);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000000, #000000, #000b14);
    /* Standard syntax */
    padding: 0px;
    min-height: 100vh;
}



.logo {
    max-height: 80px;
    max-width: 80px;
    margin-left: 70px;
    align-content: center;
    margin-bottom: 50px;
}

.logo>img {
    margin-top: 30px;
    padding: 3px;
    border: 3px solid white;
    border-radius: 100%;
}

.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
}

.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}

.list>li,
h5 {
    padding: 5px 0px 5px 40px;
}

.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}

.main-content {
    text-align: center;
}

#myimg {
    width: 90%;
}

.checked {
    color: orange;
}

.container {
    height: 100vh;
    background: rgb(252, 250, 250);
    background: linear-gradient(90deg, rgba(249, 249, 252, 1) 0%, rgba(249, 249, 252, 1) 3%, rgb(255, 255, 255) 5%, rgba(252, 250, 250, 1) 28%);
}

body {
    height: 100%;
    width: 100%;
}


#text {
    font-family: 'Chivo', sans-serif;

}

:host {
    display: block;

    background: rgb(252, 250, 250);
    background: linear-gradient(90deg, rgba(249, 249, 252, 1) 0%, rgba(249, 249, 252, 1) 3%, rgb(255, 255, 255) 5%, rgba(252, 250, 250, 1) 28%);

}
.container{
    min-height: 100vh;
    width: 800px;
    margin-top:50px; 
}
.pink{
   
    background: rgb(241,52,110);
    background: linear-gradient(90deg, rgba(241,52,110,1) 37%, rgba(241,155,155,1) 77%);
    color: white;
    
}
.class-green{
  
   background: rgb(58,140,129);
background: linear-gradient(90deg, rgba(58,140,129,1) 4%, rgba(70,191,208,1) 62%);
    color:white;
}
.class-yellow{

    background: orange;
} 
td{
    font-weight: 500;
}
.class-done{
    color: blue;
}
#logo{
    width:  50px;
    height: 50px;
}
#color{
    color: black;
    background: black;

}

/* :host {
    background: rgb(222,222,226);
background: linear-gradient(90deg, rgba(222,222,226,1) 0%, rgba(231,224,224,1) 3%, rgba(230,230,235,1) 5%, rgba(252,250,250,1) 28%);
size: 100% 100%;

     display: block;
} */


#tbl{
    background: white;
    color:black;
    font-weight: 400;
    padding: 10px;
}


/* for add new employee */

.preview
{
    padding: 10px;
    position: relative;
}

.preview i
{
    color: white;
    font-size: 35px;
    transform: translate(50px,130px);
}

.preview-img
{
    border-radius: 100%;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.7);
}

.browse-button
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    position: absolute; /* Tweak the position property if the element seems to be unfit */
    top: 10px;
    left: 132px;
    background: linear-gradient(180deg, transparent, black);
    opacity: 0;
    transition: 0.3s ease;
}

.browse-button:hover
{
    opacity: 1;
}

.browse-input
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transform: translate(-1px,-26px);
    opacity: 0;
}

.form-group
{
    width:  250px;
    margin: 10px auto;
}

.form-group input
{
    transition: 0.3s linear;
}

.form-group input:focus
{
    border: 1px solid crimson;
    box-shadow: 0 0 0 0;
}

.Error
{
    color: crimson;
    font-size: 13px;
}

.Back
{
    font-size: 25px;
}


/* //////////////////// */