body {
    color: rgba(0, 0, 0, 0.541176);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
    height: 32px;
    letter-spacing: normal;
    line-height: 32px;
    padding-top: 100px;
}