<div class="" ng-controller="currentAnalyticsCtrl">
    
    <!-- <h2>Current ,Temperature & Humitity Analytics</h2> -->
    <h2 class="alert" style="background-color:black;color:#ffffff;">Current ,Temperature & Humitity Analytics</h2>

    <div
        fusioncharts
        width="100%"
        height="400"
        type="mssplinearea"
        dataSource="{{myDataSource}}">
    </div>

    <br>
    
    <div
        fusioncharts
        width="100%"
        height="400"
        type="mssplinearea"
        dataSource="{{myDataSourceTemprature}}">
    </div>
    
    <br>
    
    <div
        fusioncharts
        width="100%"
        height="400"
        type="mssplinearea"
        dataSource="{{myDataSourceHumidity}}">
    </div>

    <br>
    
    <div class="row">
        
        <div class="col-sm-4"
            fusioncharts
            width="100%"
            height="300"
            type="angulargauge"
            dataSource="{{guageCurrent}}">
        </div>


        <div  class="col-sm-4"
            fusioncharts
            width="100%"
            height="300"
            type="angulargauge"
            dataSource="{{guageTemprature}}">
        </div>

        <div  class="col-sm-4"
            fusioncharts
            width="100%"
            height="300"
            type="angulargauge"
            dataSource="{{guageHumidity}}">
        </div>
    </div>

</div>