<!-- <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<div class="" style="padding-left:50px;" ng-controller="homeCtrl">

  <div class="row">
    <div class="col-lg-12"></div>
    <br>
    <br>
    <h1 id="text"> #1 MPS for the Manufacturers!</h1>
    <h3>Run a smart workshop with MasterPlanner MPS.</h3>
    <h3>Manage inventory and production like a pro. </h3>

    <div class="col-lg-12">
        <img  id="myimg"src="../assets/img/mainPic.png" alt="">
    </div>
    
  </div>


  <div id="justify-stars">
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star "></span></div>
    <h6>Product Ratings</h6>
  

</div>