
<!-- <div  class="alert alert-success" style="background-color:black;" role="alert"> -->
    <h2 class="alert" style="background-color:black;color:#ffffff;">HR Pannel</h2>
<!-- </div> -->
<div class="" ng-controller="hrCtrl">
    <div class="row">
        <div class="col-sm-3">
            <div fusioncharts width="100%" height="350" type="doughnut2d" dataSource="{{salesDonut}}">
            </div>
        </div>
        <div class="col-sm-3">
            <div fusioncharts width="100%" height="350" type="doughnut2d" dataSource="{{hrDonut}}">
            </div>
        </div>
        <div class="col-sm-3">
            <div fusioncharts width="100%" height="350" type="doughnut2d" dataSource="{{inventoryDonut}}">
            </div>
        </div>
        <div class="col-sm-3">
            <div fusioncharts width="100%" height="350" type="doughnut2d" dataSource="{{engineeringDonut}}">
            </div>
        </div>
    </div>
    <!-- <br>
    <div class="row">
        <div class="col-sm-12">
            <div fusioncharts width="100%" height="400" type="bar2d" dataSource="{{barChartSalaryRanges}}">
            </div>
        </div>
    </div> -->
    <br>

    <div class="row">
        <div class="col-sm-6">
            <div fusioncharts width="100%" height="350" type="doughnut2d" dataSource="{{totolEmployeesDonut}}">
            </div>
        </div>
        <div class="col-sm-6">
            <div fusioncharts width="100%" height="370" type="column2d" dataSource="{{employeesPerYearChart}}">
            </div>
        </div>
    </div>

    <br><br>

    <!-- <div class="row" style=""> -->
        <nav class="navbar navbar-inverse">
            <h3 style="color:#ffffff;padding-bottom:0px;padding-left:10px;align-content:center;">Employees Record</h4>
        </nav>
        <!-- <br> -->
        <a href="" style="" ng-click="edit()"><i class="fas fa-edit"></i>Edit </a>
        <a href="" style="" ng-click="addNew()"><i class="fas fa-plus"></i>Add </a>
        <a href="" style="" ng-click="refresh()"><i class="fas fa-sync"></i>Refresh Data</a>
        <!-- <br> -->
        <table class="table" >
            <thead class="" style="background-color:black;color:#ffffff;">
                <tr class="">
                    <th scope="col">Employee Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Department</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
    
                <!-- <th scope="col">In Production Quantity</th> -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in employees track by $index">
                    <th scope="row"><input class="form-control input" type="number" ng-model="p.employeeId" ng-value="p.employeeId" ng-disabled="disabled"></th>
                    <td><input class="form-control input" type="text" ng-model="p.name" ng-value="p.name" ng-disabled="disabled"></td>
                    <td><input class="form-control input" type="text" ng-model="p.designation" ng-value="p.designation" ng-disabled="disabled"></td>
                    <td><input class="form-control input" type="text" ng-model="p.department" ng-value="p.department" ng-disabled="disabled"></td>
                    <td><input class="form-control input" type="text" ng-model="p.gender" ng-value="p.gender" ng-disabled="disabled"></td>
                    <td><input class="form-control input" type="number" ng-model="p.salary" ng-value="p.salary" ng-disabled="disabled"></td>
                    <!-- <td><a href="" ng-click="edit()"><i class="fas fa-edit"></i></a></td> -->
                    <td><a class="form-control input" href="" ng-click="update(p)"><i class="fas fa-check"></i></a></td>
                    <td><a class="form-control input" href="" ng-click="remove(p,$index)"><i class="fas fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    <!-- </div> -->


</div>