
<h2 class="alert" style="background-color:black;color:#ffffff;">Inventory Panel</h2>
<div class="row" style="margin:10px;">
    
    <!-- <h2>Inventory Panel</h2> -->
    <a href="" style="" ng-click="edit()"><i class="fas fa-edit"></i>Edit</a>
    <!-- <a href="" style="" ng-click="addNew()"><i class="fas fa-plus"></i>Add</a> -->
    <br>
    <table class="table" >
        <thead class="" style="background-color:black;color:#ffffff;">
            <tr class="">
                <th scope="col">Product Id</th>
                <th scope="col">Description</th>
                <!-- <th scope="col">Per Item Cost</th> -->
                <th scope="col">In Hand Quantity</th>
                <th scope="col">Avaiable Raw Materials</th>
                <!-- <th scope="col">Edit</th> -->
                <!-- <th scope="col">Delete</th> -->
                <th scope="col">Update</th>

            <!-- <th scope="col">In Production Quantity</th> -->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in products track by $index">
                <th scope="row"><input class="form-control input" type="number" ng-model="p.id" ng-value="p.id" ng-disabled="disabled"></th>
                <td><input class="form-control input" type="text" ng-model="p.description" ng-value="p.description" ng-disabled="disabled"></td>
                <!-- <td><input class="form-control input" type="number" ng-model="cost" ng-value="p.cost" ng-disabled="disabled"></td> -->
                <td><input class="form-control input" type="number" ng-model="p.inStockQuantity" ng-value="p.inStockQuantity" ng-disabled="disabled"></td>
                <td><input class="form-control input" type="number" ng-model="p.avaiableRaw" ng-value="p.avaiableRaw" ng-disabled="disabled"></td>
                <!-- <td><a href="" ng-click="edit()"><i class="fas fa-edit"></i></a></td> -->
                <!-- <td><a href="" ng-click="remove($index)"><i class="fas fa-trash"></i></a></td> -->
                <td><a class="form-control input" href="" ng-click="update($index,inStockQuantity,avaiableRaw,p)"><i class="fas fa-check fa-2x"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
