<div class="" ng-controller="newOrderCtrl">

    <h2 class="alert" style="background-color:black;color:#ffffff;">Master Production Scheduler</h2>

    <div class="">
        <div class="form">
            <div class="">
                <label>Order Name:</label>
                <input class="form-control" type="text" ng-model="newOrderName" required placeholder="Enter Order Name" />
                <!-- <span class="Error"></span> -->
            </div>
            <div class="">
                <br>
                <label>Select Products:</label>
                <select class="" ng-model="product" ng-options="x.description for x in products" ng-change="addToSelectedProducts(product)">
                    <!-- <button>{{x.description}}</button> -->
                    <!-- <option>{{x..description}}</option> -->
                </select>
                <!-- <br> -->
                <!-- <ul ng-repeat="s in selectedProducts"> -->
                    <!-- <button class="alert-success">{{s.description}}</button> -->
                    <table class="table">
                        <thead class="" style="background-color:black;color:#ffffff;">
                            <tr class="">
                                <!-- <th scope="row">S.No.</th> -->
                                <th scope="col">Product ID</th>
                                <th scope="col">Product Name</th>
                                <th scope="col">New Order Quantity</th>
                                <th scope="col">In Stock Quantity</th>
                                <th scope="col">Actual Order Quantity</th>
                                <th scope="col">Available Raw Materials</th>
                                <th scope="col">Raw Materials Requested</th>
                                <th scope="col">Days Required To Recieve Raw Materials</th>
                                <th scope="col">Add</th>
                                <!-- <th scope="col">Remove</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="s in selectedProducts"><!--  track by $index -->
                                <th scope="row"><input class="form-control input" type="number" ng-value="s.id" ng-disabled="true"></th>
                                <!-- <th><input class="form-control input" type="text" ng-model="productId" ng-value="s.id"
                                        ng-disabled="true"></th> -->
                                <th><input class="form-control input" type="text" ng-model="description" ng-value="s.description"
                                        ng-disabled="true"></th>
                                <th><input class="form-control input" type="number" ng-model="newOrderQuantity" ng-value="s.newOrderQuantity"
                                        ng-disabled="false" ng-change="update(newOrderQuantity,s.id-1)"></th>
                                <th><div class="form-control input" ng-disabled="true">{{s.inStockQuantity}}</div></th>
                                <th><div class="form-control input" ng-disabled="true">{{s.actualQuantity}}</div></th>
                                <th><div class="form-control input" ng-disabled="true">{{s.avaiableRaw}}</div></th>
                                <th><div class="form-control input" ng-disabled="true">{{s.requestedRaw}}</div></th>
                                <th><div class="form-control input" ng-disabled="true">{{s.daysToRecieveRaw}}</div></th>
                                        
                                <td><button class="form-control input"  ng-disabled="false" ng-click="updateQuantity(s.actualQuantity,$index)"><i class="fas fa-check"></i></button></td>
                                <!-- <td><button class="form-control input" ng-click="removeQuantity(description,$index)"><i class="fas fa-trash"></i></button></td> -->
                            </tr>
                        </tbody>
                    </table>
                <!-- </ul> -->
                <!-- <span class="Error"></span> -->
            </div>
            <div class="">
                <button class="btn btn-primary btn-block" ng-show="confirmShow" type="" ng-click="confirmOrder()">Confirm Order</button>
            </div>
            <br>
            <div class="">
                <button class="btn btn-primary btn-block" ng-show="buildShow" type="" ng-click="buildJss()">Build JSS</button>
            </div>
            <br>
            <div class="">
                <button class="btn btn-primary btn-block" ng-show="executeShow" type="" ng-click="executeJss()">Execute JSS</button>
            </div>
            <br>

            <div class="">
                <button class="btn btn-primary btn-block" ng-show="viewScheduleShow" type="" ng-click="viewSchedule()">View JSS Schedule</button>
            </div>
            <br>
            <div class="row" >
                <div class="col-sm-3 col-sm-offset-9">
                    <p class="btn btn-success btn-block" ng-hide="ifMsg" width="100%">
                        <i class="fa fa-check"></i> {{msg}}
                    </p>
                </div>
            </div>
        </div>
    </div>