<div class="" ng-controller="profilingCtrl">

    <h2 class="alert" style="background-color:black;color:#ffffff;">Profiling Results</h2>

    <div class="row">

        <div class="col-sm-4">
            <div fusioncharts width="100%" height="600" type="column2d" dataSource="{{profilingBarChart1}}">
            </div>
        </div>
        <div class="col-sm-4">
            <div fusioncharts width="100%" height="600" type="column2d" dataSource="{{profilingBarChart2}}">
            </div>
        </div>

        <div class="col-sm-4">
            <div fusioncharts width="100%" height="600" type="column2d" dataSource="{{profilingBarChart3}}">
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div fusioncharts width="100%" height="600" type="column2d" dataSource="{{profilingBarChart4}}">
            </div>
        </div>

        <div class="col-sm-4">
            <div fusioncharts width="100%" height="600" type="column2d" dataSource="{{profilingBarChart5}}">
            </div>
        </div>
        <div class="col-sm-4">
            <div fusioncharts width="100%" height="600" type="column2d" dataSource="{{profilingBarChart6}}">
            </div>
        </div>
    </div>
    <br>
    <div class="row">

        <div class="col-sm-4">
            <div fusioncharts width="100%" height="600" type="column2d" dataSource="{{profilingBarChart7}}">
            </div>
        </div>
        <div class="col-sm-4">
            <div fusioncharts width="100%" height="600" type="column2d" dataSource="{{profilingBarChart8}}">
            </div>
        </div>

        <div class="col-sm-4">
            <div fusioncharts width="100%" height="600" type="column2d" dataSource="{{profilingBarChart9}}">
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div fusioncharts width="100%" height="600" type="column2d" dataSource="{{profilingBarChart10}}">
            </div>
        </div>
    </div>

</div>
