<h2 class="alert" style="background-color:black;color:#ffffff;">
    Reports Panel</h2>

<div style="margin-left:40px;">
    <div class="row">
        <div class="col-sm-4">
            <h4><strong>1) HR Reports</strong></h4>
        </div>
        <div class="col-sm-2">
            <button><i class="fas fa-download"></i> </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h4><strong>2) Sales Reports</strong></h4>
        </div>
        <div class="col-sm-2">
            <button><i class="fas fa-download"></i> </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h4><strong>3) Inventory Reports</strong></h4>
        </div>
        <div class="col-sm-2">
            <button><i class="fas fa-download"></i> </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <h4><strong>4) Manufacturing Orders Reports</strong></h4>
        </div>
        <div class="col-sm-2">
            <button><i class="fas fa-download"></i> </button>
        </div>
    </div>
</div>