<!-- <div class="container"> -->

    <!-- <div class="table-responsive">

        <table class="table" id="tbl">
            <thead>
                <tr>
                    <th *ngFor="let head of headElements" scope="col">{{head}} </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let el of elements">
                    <th scope="row">{{el.id}}</th>
                    <td>{{el.customer}}</td>
                    <td>{{el.amount}}</td>
                    <td [ngClass]="{'pink': el.prodAvail== 'Not Available', 'class-green': el.prodAvail== 'Available'}">
                        {{el.prodAvail}}</td>
                    <td [ngClass]="{'pink': el.matAvail== 'Not Available', 'class-green': el.matAvail== 'Available'}">
                        {{el.matAvail}}</td>
                    <td [ngClass]="{'class-yellow': el.prod== 'Work in Progress', 'class-done' :el.prod=='Done'}">
                        {{el.prod}}</td>
                    <td>{{el.delivery}}</td>
                </tr>
            </tbody>
        </table>
    </div>



    <div id="chartdiv" style="width: 100%; height: 400px"></div> -->
<!-- </div> -->

<div class="" ng-controller="salesCtrl">
        
    <h2 class="alert" style="background-color:black;color:#ffffff;">Sales Panel</h2>
    <br>    
    <!-- <br><br> -->
    <div class="row">
        <div class="col-sm-6">
            <div fusioncharts width="100%" height="400" type="column2d" dataSource="{{chartSales}}"></div>
        </div>
        <div class="col-sm-6">
            <div fusioncharts width="100%" height="400" type="column2d" dataSource="{{topSales}}"></div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            <div fusioncharts width="100%" height="400" type="radar" dataSource="{{radarTopSales}}" ></div>
        </div>
        <div class="col-sm-6">
            <div fusioncharts width="100%" height="400" type="doughnut2d" dataSource="{{topSalesDonut}}">
            </div>
        </div>
    </div>

</div>
        